.appWrapper {
  position: relative;
  z-index: 0;
}

.container {
  width: 100%;
  position: relative;
  color:black;
  flex-wrap: wrap;
  display: inline;
}

.ms-DetailsList {
  z-index: 2;
}

.ms-DetailsHeader-cell{
  margin: 0px 4px; 
  cursor: pointer;
}

.ms-DetailsRow-cell {
  padding: 0px;
  margin: 0px 4px;
  padding-top: 4px;
  overflow: visible;
}

.ms-DetailsRow-check {
  padding: 0px;
  margin-top: -4px;
}

@media screen and (max-width: 500px) {
  .ms-Button--commandBar{
    font-size: 11px;
  }
}

@media screen and (max-width: 350px) {
  .ms-Button--commandBar{
    font-size: 8px;
  }
  .ms-Button-textContainer{
    font-size: 10px;
  }
}

.noDataContainer {
  position: absolute;
  top: 66px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  justify-content: center;
}

.nodata {
  margin : 50px;
  font-size : 14px;
  text-align: center;
}

.loading {
  display: block;
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-content: center;
  text-align: center;
  top: 0;
  padding: 106px 469px;
  background-color: white;
  opacity: 80%;
  z-index: 10;
}

.ms-DetailsHeader-cellName {
  font-size: 12px;
}

.errorDiv {
  position: absolute;
  right: 20px;
  top: 11px;
  width: 16px;
  height: 16px;
}

.errorDiv[title] {
  border-color: rgba(248, 58, 58, 0.326);
}


.ms-DetailsList-headerWrapper {
  display: inline;
}
.ms-BasePicker-text::after {
  border: none;
  border-right: 1px solid black;
}

.ms-BasePicker-text:active {
  border: 2px solid rgb(0, 120, 212) !important;
} 
