.appWrapper {
  position: relative;
}

.container {
  width: 100%;
  position: relative;
  color:black;
  flex-wrap: wrap;
}

.ms-DetailsList {
  z-index: 2;
}

.ms-DetailsHeader-cell{
  margin: 0px 2px; 
}

.ms-DetailsRow-cell {
  padding: 0px;
  margin: 0px 2px;
}

@media screen and (max-width: 500px) {
  .ms-Button--commandBar{
    font-size: 11px;
  }
}

@media screen and (max-width: 350px) {
  .ms-Button--commandBar{
    font-size: 8px;
  }
  .ms-Button-textContainer{
    font-size: 10px;
  }
}

.noDataContainer {
  position: absolute;
  top: 66px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  justify-content: center;
}

.nodata {
  margin : 50px;
  font-size : 14px;
  text-align: center;
}

.loading {
  display: block;
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-content: center;
  text-align: center;
  top: 0;
  padding: 106px 469px;
  background-color: white;
  opacity: 80%;
  z-index: 10;
}